{% load static %}
<!doctype html>
<html class="no-js" lang="zxx" dir="ltr">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sharq Biznes Turar Joy Majmuasi</title>
    <meta name="author" content="Sharq Biznes Turar Joy Majmuasi">
    <meta name="description" content="Sharq Biznes Turar Joy Majmuasi">
    <meta name="keywords" content="Sharq Biznes Turar Joy Majmuasi">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ main_info.logo_light.url }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ main_info.logo_light.url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ main_info.logo_light.url }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ main_info.logo_light.url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ main_info.logo_light.url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ main_info.logo_light.url }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ main_info.logo_light.url }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ main_info.logo_light.url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ main_info.logo_light.url }}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{{ main_info.logo_light.url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ main_info.logo_light.url }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ main_info.logo_light.url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ main_info.logo_light.url }}">
    <link rel="manifest" href="{% static "assets/img/favicons/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ main_info.logo_light.url }}">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&amp;family=Outfit:wght@100..900&amp;display=swap"
          rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="{% static "assets/css/fontawesome.min.css" %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static "assets/css/magnific-popup.min.css" %}">
    <!-- Swiper Js -->
    <link rel="stylesheet" href="{% static "assets/css/swiper-bundle.min.css" %}">
    <!-- datetimepicker -->
    <link rel="stylesheet" href="{% static "assets/css/jquery.datetimepicker.min.css" %}">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">

</head>

<body class="bg-light">

<!-- slider drag cursor -->
<div class="slider-drag-cursor"><i class="fas fa-angle-left me-2"></i> DRAG <i class="fas fa-angle-right ms-2"></i>
</div>

<!--==============================
 Preloader
==============================-->
<div id="preloader" class="preloader ">
    <div id="loader" class="th-preloader">
        <div class="animation-preloader">
            <div class="txt-loading">
                <span preloader-text="S" class="characters">S</span>

                <span preloader-text="H" class="characters">H</span>

                <span preloader-text="A" class="characters">A</span>

                <span preloader-text="R" class="characters">R</span>

                <span preloader-text="Q" class="characters">Q</span>
            </div>
        </div>
    </div>
</div>




<!--==============================
    Mobile Menu
  ============================== -->
<div class="th-menu-wrapper onepage-nav">
    <div class="th-menu-area text-center">
        <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="{% url "index" %}">
                <img src="{{ main_info.logo_dark.url }}" style="width: 128px" alt="Sharq">
            </a>
        </div>
        <div class="th-mobile-menu">
            <ul>
                <li><a href="{% url "index" %}">
                    Asosiy
                </a></li> <li><a href="{% url "about" %}">
                    Biz haqimizda
                </a></li>
                <li>
                    <a href="{% url "apartments" %}">
                        Xonadonlar
                    </a>
                </li>
                <li><a href="{% url "contact" %}">
                    Bog'lanish
                </a></li>
            </ul>
        </div>
    </div>
</div><!--==============================
    Sidemenu
============================== -->
<div class="sidemenu-wrapper sidemenu-info d-none d-lg-block ">
    <div class="sidemenu-content">
        <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget  ">
            <div class="th-widget-about">
                <div class="about-logo">
                    <a href="{% url "index" %}"><img src="{{ main_info.logo_dark.url }}" style="width: 128px"
                                                     alt="Realar"></a>
                </div>
                <p class="about-text"> O'z kelajaginggiz uchun shahar markaziga investitsiya kiriting</p>
            </div>
        </div>
        <div class="widget  ">
            <h3 class="widget_title">Bog'lanish uchun</h3>
            <div class="th-widget-contact">
                <div class="info-box_text">
                    <div class="icon"><img src="{% static "assets/img/icon/location-dot.svg" %}" alt="img"></div>
                    <div class="details">
                        <p>Qarshi shahri, Tabassum mahallasi, Sharq 1</p>
                    </div>
                </div>
                <div class="info-box_text">
                    <div class="icon">
                        <img src="{% static "assets/img/icon/phone.svg" %}" alt="img">
                    </div>
                    <div class="details">
                        <p><a href="tel:+998781137079" class="info-box_link">+998 78 113 7079</a></p>
                        <p><a href="tel:+998939000097" class="info-box_link">+998 93 900 00 97</a></p>
                    </div>
                </div>
                <div class="info-box_text">
                    <div class="icon">
                        <img src="{% static "assets/img/icon/envelope.svg" %}" alt="img">
                    </div>
                    <div class="details">
                        <p><a href="https://t.me/SHARQDEVELOPMENT_BOT" class="info-box_link">Telegram bot</a></p>
                        <p><a href="https://t.me/SHARQDEVELOPMENT_BOT" class="info-box_link">@SHARQDEVELOPMENT_BOT</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget newsletter-widget  ">
            <h3 class="widget_title">Ijtimoiy tarmoqlar</h3>
            <div class="th-social style2">
                <a href="https://www.t.me/SHARQDEVELOPMENT_BOT/"><i class="fab fa-telegram"></i></a>
                <a href="https://www.instagram.com/sharq_development" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com.com/"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div><!--==============================
	Header Area
==============================-->
<header class="th-header header-default">
    <div class="sticky-wrapper">
        <!-- Main Menu Area -->
        <div class="menu-area">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo">
                            <a href="{% url "index" %}">
                                <img src="{{ main_info.logo_dark.url }}" style="width: 78px" alt="Realar">
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <nav class="main-menu d-none d-lg-inline-block">
                            <ul>
                                <li><a href="{% url 'index' %}">
                                    Asosiy
                                </a></li>
                                <li><a href="{% url 'about' %}">
                                    Biz haqimizda
                                </a></li>
                                <li>
                                    <a href="{% url "apartments" %}">
                                        Xonadonlar
                                    </a>
                                </li>
                                <li><a href="{% url "contact" %}">
                                    Bog'lanish
                                </a></li>
                            </ul>
                        </nav>
                        <div class="header-button d-flex d-lg-none">
                            <button type="button" class="th-menu-toggle sidebar-btn">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-auto d-none d-xl-block">
                        <div class="header-button">
                            <a href="{% url "contact" %}" class="th-btn style-border th-btn-icon">Hoziroq bog'lanish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!--==============================
Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="{% static "assets/img/bg/breadcumb-bg.jpg" %}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9">
                <div class="breadcumb-content">
                    <h1 class="breadcumb-title">Biz haqimizda</h1>
                    <ul class="breadcumb-menu">
                        <li><a href="{% url "index" %}">Asosiy</a></li>
                        <li>Biz Haqimizda</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--==============================
About Area  
==============================-->
<div class="overflow-hidden space" id="about-sec">
    <div class="sec-bg-shape2-1 spin shape-mockup d-xl-block d-none" data-bottom="25%" data-right="12%">
        <img src="{% static "assets/img/shape/section_shape_2_1.jpg" %}" alt="img">
    </div>
    <div class="sec-bg-shape2-1 jump shape-mockup d-xl-block d-none" data-bottom="0%" data-left="5%">
        <img src="{% static "assets/img/shape/section_shape_2_3.jpg" %}" alt="img">
    </div>
    <div class="container">
        <div class="about-page-wrap">
            <div class="row gy-40 justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div class="title-area mb-0">
                        <h2 class="sec-title text-theme mb-2">Sharq Biznes Turar Joy Majmuasi
                        </h2>
                        <p class="mb-0 text-theme">Bizning kompaniya, o'zining mukammal dizayni va yuqori sifatli
                            qurilish materiallari bilan tanilgan, zamonaviy va premium turar-joylar yaratish bo‘yicha
                            yetakchi hisoblanadi. </p>
                        <p class="text-theme">Har bir loyihamizda biz mijozlarimizning ehtiyojlarini birinchi o‘rinda
                            qo‘yib, ularning hayot sifatini oshirishga qaratilgan. Bizning binolarimiz nafaqat estetik
                            jihatdan jozibali, balki qulaylik va xavfsizlikni ta'minlaydigan zamonaviy infratuzilmalarga
                            ega.</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="{% static "assets/img/normal/1.jpg" %}" alt="About">
                        </div>
                        {#                        <div class="about-tag">#}
                        {#                            <div class="about-experience-tag">#}
                        {#                                <span class="circle-title-anime">Realar Living Solutions</span>#}
                        {#                            </div>#}
                        {#                            <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn popup-video"><i#}
                        {#                                    class="fa-sharp fa-solid fa-play"></i></a>#}
                        {#                        </div>#}
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="{% static "assets/img/normal/2.jpg" %}" alt="About">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">

                    <p class="text-theme"> Sharq Development – bu zamonaviy arxitektura, yuqori sifatli qurilish
                        materiallari va innovatsion texnologiyalar uyg‘unlashgan joy. Biz mijozlarimizga nafaqat uy,
                        balki qulay va xavfsiz hayot tarzini taqdim etamiz. Har bir loyihamizda estetika, funksionallik
                        va qulaylik birlashtirilgan bo‘lib, uyingiz shinamlik va farovonlik manbaiga aylanishi uchun har
                        bir detalga alohida e’tibor qaratamiz.
                    </p>
                    <p class="text-theme"> Bizning turar joy majmualarimiz shaharning eng qulay hududlarida joylashgan
                        bo‘lib, barcha zarur
                        infratuzilmalar – savdo markazlari, bog‘lar, maktablar va transport tizimlariga yaqin.
                        Xavfsizlik va
                        farovonlikni birinchi o‘ringa qo‘ygan holda, biz mijozlarimizga biznes sinfidagi mukammal
                        yashash
                        sharoitlarini yaratamiz. Sharq Development bilan orzularingizdagi uyni hozirdan toping!</p>
                </div>
                <div class="col-lg-6">
                    <p class="text-theme">Sharq Development – bu zamonaviy turar joy majmualari yaratishda yetakchi
                        kompaniya. Biz mijozlarimizga nafaqat mustahkam va estetik jihatdan jozibali uylarni, balki
                        hayot uchun ideal muhitni taqdim etamiz. Har bir loyiha – bu yuqori sifatli qurilish
                        materiallari, innovatsion yechimlar va qulay infratuzilma uyg‘unligi.

                        Bizning asosiy maqsadimiz – sizga orzu qilgan uyingizni taqdim etish. Shahar markaziga yaqin,
                        qulay joylashuv, xavfsiz hudud va zamonaviy texnologiyalar bilan jihozlangan uylarimiz
                        hayotingizga quvonch va farovonlik olib keladi. Sharq Development – bu kelajakka ishonchli
                        sarmoya!</p>
                    <div class="about-wrap2 style-theme mt-50">
                        <div class="checklist style4">
                            <ul>
                                <li><img src="{% static "assets/img/icon/checkmark.svg" %}" alt="img">Premium Qurilish
                                    Materiallari
                                </li>
                                <li><img src="{% static "assets/img/icon/checkmark.svg" %}" alt="img">Zamonaviy Dizayn

                                </li>
                                <li><img src="{% static "assets/img/icon/checkmark.svg" %}" alt="img">Xavfsizlik
                                </li>
                                <li><img src="{% static "assets/img/icon/checkmark.svg" %}" alt="img">Yuqori Darajadagi
                                    Quvvat Manbalari

                                </li>
                            </ul>
                        </div>
                        <div class="call-btn">
                            <div class="icon-btn bg-theme">
                                <img src="{% static "assets/img/icon/phone.svg" %}" alt="img">
                            </div>
                            <div class="btn-content">
                                <h6 class="btn-title text-theme">Bizga qo'ng'iroq qiling</h6>
                                <span class="btn-text"><a class="text-theme"
                                                          href="tel:0123456789">+998 78 113 7079</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="{% static "assets/img/normal/4.jpg" %}" alt="About">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--==============================
Why Choose Us Area  
==============================-->
<div class="why-sec-1 overflow-hidden space bg-theme">
    <div class="sec-bg-shape2-1 text-white spin shape-mockup d-xl-block d-none" data-bottom="15%" data-left="12%">
        <img src="{% static "assets/img/shape/section_shape_2_1.jpg" %}" alt="img">
    </div>
    <div class="sec-bg-shape2-3 text-white jump shape-mockup d-xl-block d-none" data-bottom="0%" data-right="7%">
        <img src="{% static "assets/img/shape/section_shape_2_3.jpg" %}" alt="img">
    </div>
    <div class="container">
        <div class="row justify-content-lg-between align-items-center">
            <div class="col-lg-6">
                <div class="title-area">
                    <h2 class="sec-title text-white">Nega bizni tanlash kerak ? </h2>
                    <p class="text-light">Yuqori sifat va mustahkamlik – Qurilishda faqat premium materiallardan
                        foydalanamiz, bu esa uylaringiz mustahkam va bardoshli bo‘lishini ta’minlaydi.
                        {#                    <p class="text-light">#}

                        Zamonaviy dizayn va qulaylik – Bizning loyihalarimiz estetik jihatdan jozibali bo‘lib, keng va
                        yorug‘ xonalar hamda innovatsion yechimlar bilan ajralib turadi.
                        {#                    <p class="text-light">#}
                        Xavfsizlik kafolati – 24/7 video kuzatuv, qo‘riqlash tizimlari va yopiq hovlilar – bizda siz
                        va oilangizning osoyishtaligi birinchi o‘rinda turadi.
                        {#                    <p class="text-light">#}
                        Qulay joylashuv – Turar joy majmualarimiz shaharning markaziy qismida joylashgan bo‘lib,
                        maktablar, bog‘lar, savdo markazlari va transport vositalariga yaqin.</p>
                </div>
            </div>
            <div class="col-auto">
                <div class="sec-btn">
                    <a href="contact.html" class="th-btn style-border th-btn-icon">Biz bilan bog'lanish</a>
                </div>
            </div>
        </div>
        <div class="swiper th-slider"
             data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"2"},"1200":{"slidesPerView":"3"}}}'>
            <div class="swiper-wrapper">
                {% for prospec in prospecs %}
                    <div class="swiper-slide">
                        <div class="service-card style4">
                            <div class="service-card-icon">
                                <img src="{{ prospec.icon.url }}" alt="Icon" style="width: 60px">
                            </div>
                            <h3 class="box-title"><a href="#">{{ prospec.title }}</a></h3>
                            <p class="box-text">{{ prospec.description }}</p>
                            <div class="service-img img-shine">
                                <img src="{{ prospec.image.url }}" alt="img">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<!--==============================
Client Area  
==============================-->
<div class="client-area-1 space" data-bg-src="{% static "assets/img/hero/hero_bg_4_1.jpg" %}">
    <div class="container">
        <div class="slider-area client-slider3">
            <div class="swiper th-slider has-shadow" id="clientSlider1"
                 data-slider-options='{"breakpoints":{"0":{"slidesPerView":2},"576":{"slidesPerView":"3"},"768":{"slidesPerView":"4"},"992":{"slidesPerView":"5"},"1200":{"slidesPerView":"6"}}}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="client-card">
                            <img src="{% static "assets/img/brand/brand_3_1.svg" %}" alt="Image">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="client-card">
                            <img src="{% static "assets/img/brand/brand_3_2.svg" %}" alt="Image">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="client-card">
                            <img src="{% static "assets/img/brand/brand_3_3.svg" %}" alt="Image">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="client-card">
                            <img src="{% static "assets/img/brand/brand_3_4.svg" %}" alt="Image">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="client-card">
                            <img src="{% static "assets/img/brand/brand_3_5.svg" %}" alt="Image">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="client-card">
                            <img src="{% static "assets/img/brand/brand_3_6.svg" %}" alt="Image">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="client-card">
                            <img src="{% static "assets/img/brand/brand_3_1.svg" %}" alt="Image">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="client-card">
                            <img src="{% static "assets/img/brand/brand_3_2.svg" %}" alt="Image">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="client-card">
                            <img src="{% static "assets/img/brand/brand_3_3.svg" %}" alt="Image">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="client-card">
                            <img src="{% static "assets/img/brand/brand_3_4.svg" %}" alt="Image">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="client-card">
                            <img src="{% static "assets/img/brand/brand_3_5.svg" %}" alt="Image">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="client-card">
                            <img src="{% static "assets/img/brand/brand_3_6.svg" %}" alt="Image">
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<!--==============================
	Footer Area
==============================-->

<footer class="footer-wrapper footer-default bg-theme">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo">
                                <a href="{% url "index" %}"><img src="{{ main_info.logo_dark.url }}"
                                                                 style="width: 128px"
                                                                 alt="Realar"></a>
                            </div>
                            <p class="about-text">Sharq Development – Zamonaviy, qulay va xavfsiz hayot tarzi!
                                Biz mukammal sifat, zamonaviy arxitektura va yuqori darajadagi qulayliklarni taqdim
                                etamiz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Bog'lanish</h3>
                        <div class="th-widget-contact">
                            <div class="info-box_text">
                                <div class="icon"><img src="{% static "assets/img/icon/location-dot.svg" %}" alt="img">
                                </div>
                                <div class="details">
                                    <p>Tabassum mahallasi</p>
                                    <p>Qarshi shahri</p>
                                </div>
                            </div>
                            <div class="info-box_text">
                                <div class="icon">
                                    <img src="{% static "assets/img/icon/phone.svg" %}" alt="img">
                                </div>
                                <div class="details">
                                    <p><a href="tel:+998781137079" class="info-box_link">+998 78 113 7079</a></p>
                                    <p><a href="tel:+998939000097" class="info-box_link">+998 93 900 00 97</a></p>
                                </div>
                            </div>
                            <div class="info-box_text">
                                <div class="icon">
                                    <img src="{% static "assets/img/icon/envelope.svg" %}" alt="img">
                                </div>
                                <div class="details">
                                    <p><a class="info-box_link">Telegram bot</a>
                                    </p>
                                    <p><a target="_blank" href="https://t.me/SHARQDEVELOPMENT_BOT"
                                          class="info-box_link">@SHARQDEVELOPMENT_BOT</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Foydali havolalar</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="{% url "index" %}">Asosiy</a></li>
                                <li><a href="{% url "about" %}">Biz haqimizda</a></li>
                                <li><a href="{% url "apartments" %}">Xonadonlar</a></li>
                                <li><a href="{% url "contact" %}">Bog'lanish</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap bg-light">
        <div class="container">
            <div class="row gy-3 align-items-center">
                <div class="col-lg-6">
                    <p class="copyright-text">
                        © 2025 <a href="{% url "index" %}">Sharq Development</a>. Barcha huquqlar himoyalangan.

                    </p>


                </div>
                <div class="col-lg-6">
                    <div class="th-social justify-content-lg-end justify-content-center">
                        <a target="_blank" href="https://t.me/SHARQDEVELOPMENT_BOT/"><i class="fab fa-telegram"></i></a>
                        <a target="_blank" href="https://www.instagram.com/sharq_development//"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!--********************************
        Code End  Here
******************************** -->

<!-- Scroll To Top -->
<div class="scroll-top">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
              style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
    </svg>
</div>

<!--==============================
All Js File
============================== -->
<!-- Jquery -->
<script src="{% static "assets/js/vendor/jquery-3.7.1.min.js" %}"></script>

<!-- Swiper Js -->
<script src="{% static "assets/js/swiper-bundle.min.js" %}"></script>
<!-- Bootstrap -->
<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
<!-- Magnific Popup -->
<script src="{% static "assets/js/jquery.magnific-popup.min.js" %}"></script>
<!-- Counter Up -->
<script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>
<!-- Range Slider -->
<script src="{% static "assets/js/jquery-ui.min.js" %}"></script>
<!-- Isotope Filter -->
<script src="{% static "assets/js/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "assets/js/isotope.pkgd.min.js" %}"></script>
<!-- Gsap -->
<script src="{% static "assets/js/gsap.min.js" %}"></script>
<!-- DateTime JS -->
<script src="{% static "assets/js/jquery.datetimepicker.min.js" %}"></script>

<!-- 360 degree Js -->
<script src="{% static "assets/js/threesixty.min.js" %}"></script>
<script src="{% static "assets/js/panolens.min.js" %}"></script>


<!-- Main Js File -->
<script src="{% static "assets/js/main.js" %}"></script>
</body>


</html>